@model List<Supplier>

<html>
<head>
    <style>
        .larger-text {
            font-size: 5em;
            font-family: "Courier New", monospace;

        }
    </style>
</head>
<body>
    <h1 class="larger-text">Suppliers</h1>
</body>
</html>

<a asp-controller="Supplier" asp-action="Add" class="btn btn-success" style="font-family: 'Roboto', sans-serif; font-size: 18px;">
    <i class="fas fa-plus"></i>
    Add New Supplier
</a>

<br />
<br />

@if (Model.Count() < 1)
{
    <div class="alert alert-info">
        No Supplier Records Found.
    </div>
}
else
{
    <table id="SupplierTable" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Address</th>
                <th>Representative</th>
                <th>Contact No.</th>
                <th>Date Added</th>
                <th>Date Modified</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CompanyName</td>
                    <td>@item.Address</td>
                    <td>@item.Representative</td>
                    <td>@item.ContactNo</td>
                    <td>@item.DateAdded</td>
                    <td>@item.DateModified</td>
                    <td>
                        <a asp-controller="Supplier" asp-action="Edit" asp-route-id="@item.SupplierID" class="btn btn-info btn-sm" >
                            Edit
                            <i class="fas fa-edit"></i>
                        </a>
                        @*<form asp-controller="Supplier" asp-action="Delete" method="post" style="display: grid;">
                            <input type="hidden" name="Id" value="@item.SupplierID">
                            <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                        </form>*@
                        <button class="btn btn-danger btn-sm deleteBtn" data-id="@item.SupplierID" >
                            Delete
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<form id="DeleteForm" asp-controller="Supplier" asp-action="Delete" method="post" >
    <input type="hidden" id="HiddenSupplierID" name="SupplierID" value="" />
</form>

@section Scripts 
{


    <script>
        $(document).ready( function () {
        $('#SupplierTable').DataTable();
        } );
        $('.deleteBtn').click(function (e) {
            swal({
                title: "Are you sure?",
                text: "Are you sure you want to delete this?",
                icon: "warning",
                buttons: true,
                dangerMode: true
            }).then((confirm) => {
                if (confirm) {
                    var btn = $(this);
                    var id = btn.data("id");
                    $("#HiddenSupplierID").val(id);
                    $("#DeleteForm").submit();
                }
            });
        });
    </script>

}